@charset "UTF-8";

/* Variables */

:root {
          --controlButtonsHover: background-color ease-in-out .2s;
          --controlButtonsHoverandScale: transform .2s ease-in-out;
          --controlCloseButtonRotate: transform .2s ease-in-out;
          --imgHoverOpacity: opacity .2s ease-in-out;
          --modalInOut: top .2s ease-out, opacity .1s ease-in-out;
}

/* Window Level Styles */

* {
          box-sizing: border-box;
}

body {
          margin: 0px;
          padding: 0px;
          font-family: Arial, Helvetica, sans-serif;
}

/* A Tag Styles */

a {
          cursor: pointer;
          text-decoration: none;
}

a.view-master-close-btn:link, a.previous-image-btn:link, a.next-image-btn:link  {
          background-color: rgba(255, 255, 255, 0.16);
          color: white;
          transform: scale(1);
          transition: var(--controlButtonsHoverandScale);
}

a.view-master-close-btn:hover, a.previous-image-btn:hover, a.next-image-btn:hover {
          background-color: rgba(255, 255, 255, 0.32);
          transform: scale(1.05);
          transition: var(--controlButtonsHover);
          transition: var(--controlButtonsHoverandScale);
}

a.view-master-close-btn:visited {
          color: white;
}

.view-master-close-btn > img {
          transform: rotate(0deg);
          transition: var(--controlCloseButtonRotate);
}

a.view-master-close-btn:hover > img {
          transform: rotate(90deg);
          transition: var(--controlCloseButtonRotate);
}

.gallery a img:hover {
          opacity: 0.7;
          transition: var(--imgHoverOpacity);
}

.gallery a:link {
          background-color: black;
}

/* Gallery */

.gallery {
          display: grid;
          max-width: 768px;
          margin-left: auto;
          margin-right: auto;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: 300px;
          grid-gap: 8px;
          clip-path:fill-box;
          border-radius: 10px;
          overflow: hidden;
}

.gallery img {
          height: 100%;
          width: 100%;
          display: block;
          object-fit: cover;
          opacity: 1;
          transition: var(--imgHoverOpacity);
}

.gallery a:nth-child(3n) {
          grid-column-start: 1;
          grid-column-end: 3;
}


/* View Master Container */

.view-master-modal {
          background-color: rgba(0, 0, 0, 0.9);
          -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 100vh;
          opacity: 0;
          transition: var(--modalInOut);
}

.view-master {
          /* display: flex;
          flex-direction: column; */
          height: 100%;
          width: 100%;
}

/* View Master Controls */

.view-master-controls {
          z-index: 1;
          position: absolute;
          top: 40px;
          left: 40px;
}

.view-master-close-btn {
          display: inline-block;
          padding: 0px 24px 0px 24px;
          border-radius: 16px;
          line-height: 52px;
          transition: var(--controlButtonsHover);
}

.pagination {
          position: absolute;
          margin-left: 50%;
          top: 80px;
          display: inline-block;
          text-align: center;
          padding-bottom: 16px;
          color: white;
}

.view-master-close-btn span {
          padding-left: 4px;
}

.view-master-controls img {
          vertical-align: middle;
}

/* Image Reel */

.reel {
          margin-left: auto;
          margin-right: auto;
          height: calc(100% - 160px);
          top: 120px;
          position: relative;
          overflow: hidden;
}

.previous-image-btn, .next-image-btn {
          position: absolute;
          top: 50%;
          z-index: 1;
          border-radius: 50%;
          padding: 20px;
          transition: var(--controlButtonsHover);
}

.previous-image-btn {
          left: 40px;         
}

.next-image-btn {
          right: 40px;         
}

.previous-image-btn img, .next-image-btn img {
          vertical-align: middle;
}

.reel-images {
          height: 100%;
}

.reel-images img {
          position: relative;
          height: 100%;
          width: 100%;
          display: block;
          object-fit: contain;
}

/* Display Toggle */

.modal-is-displayed {
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 0px;
          opacity: 1;
          transition: var(--modalInOut);
}

.stopScroll {
          overflow: hidden;
}

/* Media Query */

@media (max-width: 425px) {
          .previous-image-btn, .next-image-btn {
                    display:none;
          }
          .gallery {
                    max-width: 100%;
                    border-radius: 0px;
          }
          .gallery a {
                    grid-column-start: 1;
                    grid-column-end: 3;
          }
          .pagination {
                    display: none;
          }
          .view-master-controls {
                    top: 85vh;
                    left: calc(50% - 56px);
          }
          .reel {
                    top: 0;
                    height: 100%;
          }

}