@charset "UTF-8";

/* Variables */

:root {
          --controlButtonsHover: background-color ease-in-out .2s;
          --controlButtonsHoverandScale: transform .2s ease-in-out;
          --controlCloseButtonRotate: transform .2s ease-in-out;
          --imgHoverOpacity: opacity .2s ease-in-out;
          --modalInOut: top .2s ease-out, opacity .2s ease-in-out;
          --slideImage: left 0s ease-in-out; 
          --buttonColor: rgba(255, 255, 255, 0.2);
          --modalColor: rgba(0, 0, 0, 0.9);
          --setBlur: blur(40px);
}

/* Window Level Styles */

* {
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
}

body {
          margin: 0px;
          padding: 0px;
          font-family: Arial, Helvetica, sans-serif;
}

/* a Tag Styles */

a {
          cursor: pointer;
          text-decoration: none;
}

a.view-master-close-btn:link, a.previous-image-btn:link, a.next-image-btn:link  { 
          color: white;
          transform: scale(1);
          background-color: var(--buttonColor);
          transition: var(--controlButtonsHoverandScale);
}

a.previous-image-btn:hover, a.next-image-btn:hover {
          transform: scale(1.2);
          background-color: var(--buttonColor);
          transition: var(--controlButtonsHover);
          transition: var(--controlButtonsHoverandScale);
}

a.view-master-close-btn:hover {
          transform: scale(1.1);
          background-color: var(--buttonColor);
          transition: var(--controlButtonsHover);
          transition: var(--controlButtonsHoverandScale);
}

a.view-master-close-btn:visited {
          color: white;
}

.view-master-close-btn > img {
          transform: rotate(0deg);
          transition: var(--controlCloseButtonRotate);
}

a.view-master-close-btn:hover > img {
          transform: rotate(90deg);
          transition: var(--controlCloseButtonRotate);
}

/* Gallery */

.gallery {
          max-width: 768px;
          margin-left: auto;
          margin-right: auto;
          padding: 0px;
}

.gallery ul {
          display: grid;
          list-style: none;
          margin: 0px;
          padding: 0px;
          grid-template-columns: 1fr 1fr;
          grid-auto-rows: 300px;
          grid-gap: 8px;
          clip-path: fill-box;
          border-radius: 10px;
          overflow: hidden;
}

.gallery ul li img {
          height: 100%;
          width: 100%;
          display: block;
          object-fit: cover;
          opacity: 1;
          transition: var(--imgHoverOpacity);
}

.gallery li:nth-child(3n) {
          grid-column-start: 1;
          grid-column-end: 3;
}

/* View Master Container */

.view-master-modal {  
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 100vh;
          opacity: 0;
          background-color: var(--modalColor);
          -webkit-backdrop-filter: var(--setBlur);
          backdrop-filter: var(--setBlur);
          transition: var(--modalInOut);   
}

.view-master {
          display: flex;
          flex-direction: row;
          height: 100%;
          width: 100%;
}

/* View Master Controls */

.view-master-close {
          z-index: 1;
          position: absolute;
          top: 40px;
          left: 40px;
}

.view-master-close-btn {
          display: inline-block;
          padding: 0px 0px 0px 32px;
          border-radius: 24px;
          line-height: 56px;
          -webkit-backdrop-filter: var(--setBlur);
          backdrop-filter: var(--setBlur);
          transition: var(--controlButtonsHover);
}

.pagination {
          display: inline-block;
          padding: 0px 24px 0px 16px !important;
          margin-left: 24px;
          border-top-right-radius: 24px;
          border-bottom-right-radius: 24px;
          background-color: rgba(255, 255, 255, 0.2);
}

.view-master-close img {
          vertical-align: middle;
          height: 20px;
}

/* Image Reel */

.view-master ul {
          position: fixed;
          left: 0%;
          align-self: center;
          width: 100%;
          height: 80%;
          margin: 0px;
          padding: 0px;
          list-style: none;
          list-style-position: inside;
          white-space: nowrap;   
          transition: var(--slideImage);
          font-size: 0px;   
}

.view-master ul li {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 0px;
          margin: 0px;         
}

.view-master ul li img {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 0px;
          margin: 0px; 
          object-fit: contain;
}

/* Next and Previous Buttons */

.previous-image-btn, .next-image-btn {
          position: absolute;
          top: 50%;
          z-index: 1;
          border-radius: 50%;
          padding: 20px;
          -webkit-backdrop-filter: var(--setBlur);
          backdrop-filter: var(--setBlur);
          transition: var(--controlButtonsHover);
}

.previous-image-btn {
          left: 40px;         
}

.next-image-btn {
          right: 40px;         
}

.previous-image-btn img, .next-image-btn img {
          vertical-align: middle;
}

/* Display Toggle */

.modal-is-displayed {
          transition: var(--modalInOut);
          height: 100vh;
          opacity: 1;
          top: 0px;
}

.stopScroll {
          overflow: hidden;
}

.d-none {
          display: none;
}